main {
  font-family: sans-serif;
}

main p {
  font-size: 24px;
}

.faq-box {
  display: flex;
  overflow-y: auto;
  gap: 30px;
  padding: 50px;
  justify-content: space-between;
  flex-direction: column;
}

.accordion {
  display:block;
}

.accordion-item {
  margin-bottom: 10px;
}

.accordion-header {
  font-size: 32px;
  cursor: pointer;
  padding: 1rem;
  border-style: solid;
  border-color: black;
}

.accordion-content {
  display: none;
  padding: 2rem;
  border-style: solid;
  border-color: black;
}

.accordion-content.show {
  display: block;
}
