/* Create a main area */
.gallery {
    display: block;
    font-family: sans-serif;
}

 /* resize paragraphs */
.gallery p {
    font-size: 24px
}

/* move an img to right side and etc...*/
.gallery-right {
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: 50px auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin:30px;
    --fp: "Papyrus";
    font-family: var(--fp);
}

.gallery-right h1, .gallery-right p {
    margin-bottom: 20px;
    grid-column: 1 / 4;
}

.dogs {
    grid-column: 4 / -1;
    grid-row: 1 / -1;
    margin-left: auto;
    margin-right: auto;
}

/* move an img to left side and etc... */

.gallery-left {
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: 50px auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin:30px;
}
.gallery-left a {
    margin-bottom: 20px;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    cursor: pointer;
}

.gallery-left h1, .gallery-left p {
    margin-bottom: 20px;
    grid-column: 2 / -1;
}

.sDogs {
    display: none;
}

@media only screen and (max-width: 849px) {
    .gallery p {
        font-size: 16px
    }

    .gallery-right {
        display: flex;
        --fp: "Papyrus";
        font-family: var(--fp);
        flex-direction: column;
        margin: 0;
        margin-bottom: 30px;
        justify-content: center;
        text-align: center;
    }
    
    .dogs {
        display: none;
    }

    .sDogs{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .sDogs img{
        max-width: 220px;
    }
    
    .gallery-left {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        margin: 0;
        margin-bottom: 30px;
    }

    .gallery-left a {
        margin-bottom: 20px;
        cursor: pointer;
    }

    .gallery-left img {
        max-width: 220px;
    }
    
}


