/* Create a main area */
.gallery {
    display: block;
    --fp: "Papyrus";
    font-family: var(--fp);
}

 /* resize paragraphs */
.gallery p {
    font-size: 24px
}

/* move an img to right side and etc...*/
.gallery-right {
    flex: 1;
    display: grid;
    height: min-content;
    grid-gap: 1rem;
    grid-template-rows: 50px auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin:30px;
}

.gallery-right h1, .gallery-right p {
    margin-bottom: 20px;
    grid-column: 1 / 5;
}

.gallery-right a {
    margin-bottom: 20px;
    grid-column: 5 / -1;
    grid-row: 1 / -1;
    cursor: pointer;
}

/* genelate texts by the img */
.gallery-right h1 + a:hover::after{
    content: "Click!";
}


/* move an img to left side and etc... */
.gallery-left {
    flex: 1;
    display: grid;
    height: min-content;
    grid-gap: 1rem;
    grid-template-rows: 50px auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin:30px;
}

.gallery-left h1, .gallery-left p {
    margin-bottom: 20px;
    grid-column: 3 / -1;
}

.gallery-left a {
    margin-bottom: 20px;
    grid-column: 1 / 3;
    grid-row: 1 / -1;
    cursor: pointer;
}


