/* import custom Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,300&display=swap");

/* Reset browser defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* This ensures padding and borders are included in the element's total width and height */
}

/* color variables */
:root {
  --red:red;
  --green:rgb(92, 229, 0);
  --blue:blue;
  --brown:brown;
  --orange:orange;
  --white:white;
  --black:black;
}

/* Set root styles */
html {
  font-size: 16px;
}

/* Overall styles */
body {
  font-family: "Ubuntu", Verdana, sans-serif;
  margin: 0;
  padding: 0;
  overflow: auto;
}


/* Color tags*/
.red {color: var(--red);} .bkred {background-color:var(--red);}
.green {color: var(--green);} .bkgreen {background-color:var(--green);}
.blue {color: var(--blue);} .bkblue {background-color:var(--blue);}
.brown {color: var(--brown);} .bkbrown {background-color:var(--brown);}
.orange {color: var(--orange);} .bkorange {background-color:var(--orange);}
.white {color: var(--white);} .bkwhite {background-color:var(--white);}
.black {color: var(--black);} .bkblack {background-color:var(--black);}

.nav {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

main {
  padding: 20px;
}

main h1{
  margin-left: 30px;
}

.menu {
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 100px;
}

.menu a {
  text-decoration: none;
  color: var(--white);
}

.menu a:hover {
  color: var(--orange);
}

.menu a:active {
  color: var(--green);
}

footer {
  display: block;
  min-height: 100px;
  padding: 1rem 2rem;
}

footer p {
  text-align: center;
  margin-top: 40px;
  color: var(--white);
}

/* to reset usual style */
.usual {
  display: block !important;
  text-align: left !important;
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important
}

.icon {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  cursor: pointer;
}
