.mario {
    max-height: 200px;
    max-width: 200px;
    transition: transform 0.3s ease;
    margin-top: 200px;
    margin-bottom: 0px;
    margin-left: 90px;
    justify-content: center;
    text-align: center;
}

.mario:active {
    transform: translate(0px,-195px);
}

.toby-fox {
    height: 100px;
    transition: transform 0.3s ease;
    margin-top: 100px;
    margin-left: 50px;
}


.blurred-background {
    background: url('../img/pngtree-game-mario-pole-png-image_654409822.png') center/cover no-repeat;
    backdrop-filter: blur(100px);
  }

  .pipe {
    pointer-events: none;
    margin-top: -200px;
  }

  .pipe-box {
    display: flex;
    margin-top: 0px;
    margin-left: 520px;
    margin-bottom: 30px;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex: 0;
  }


  .pipe-box img {
    display: flex;
    width: 370px;
    /*flex-direction: column;*/
    flex: 0;
    justify-content: center;
    text-align: center;
    /*margin-left: -30px;
    margin-top: -100px;*/
  }

