@keyframes mario-out {
    0% {
        transform: translate(0px, 0px);
      }

    25% {
        transform: translate(0px, 0px);
    }
    
    
    50% {
        transform: translateY(-195px);
        /*animation-play-state: paused;*/
      }


    75% {
        transform: translateY(-195px);
      }
    100% {
        transform: translate(0px, 0px);
      }
}


@keyframes flower-up {
    0% {
        transform: translate(0px, 0px);
      }

    25% {
        transform: translate(0px, -195px);
      }
    
    50% {
        transform: translate(0px, 0px);
        /*animation-play-state: paused;*/
      }

    75% {
        transform: translate(0px, 0px);
        /*animation-play-state: paused;*/
      }

    100% {
        transform: translate(0px, 0px);
      }
}

.mario {
    position: absolute;
    top: 90px;
    left: 590px;
    max-height: 200px;
    max-width: 200px;
    justify-content: center;
    text-align: center;
    z-index: 1;
    animation: mario-out ease 2s infinite;
}

.flower {
    position: absolute;
    top: 90px;
    left: 590px;
    max-height: 200px;
    max-width: 200px;
    justify-content: center;
    text-align: center;
    z-index: 2;
    pointer-events: none;
    animation: flower-up ease 2s infinite;
}

.toby-fox {
    height: 100px;
    transition: transform 0.3s ease;
    margin-top: 100px;
    margin-left: 50px;
}

.blurred-background {
    background: url('../img/pngtree-game-mario-pole-png-image_654409822.png') center/cover no-repeat;
    backdrop-filter: blur(100px);
}

.pipe {
    position: absolute;
    top: 90px;
    left: 510px;
    pointer-events: none;
    margin-top: 0px;
    z-index: 3;
}

.pipe-box {
    display: flex;
    margin-top:50px;
    height: 300px;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    flex: 0;
}


.pipe-box img {
    display: flex;
    width: 370px;
    /*flex-direction: column;*/
    flex: 0;
    justify-content: center;
    text-align: center;
    /*margin-left: -30px;
    margin-top: -100px;*/
}
