.news-box {
    display: flex;
    margin: 30px;
    gap: 30px;
    width: calc(100vw - 60px);
    height: 250px;
    justify-content: center;
}

.news-box-container {
    width: 300px;
    font-size: 20px;
    max-height: 250px;
    justify-content: center;
    text-align: center;
    flex: 0;
    margin: auto;
}

.news-box-container img{
    display: flex;
    max-height: 200px;
    flex: 0;
}

