.news-box {
    display: flex;
    margin: 30px;
    gap: 35px;
    height: 250px;
    justify-content: center;
}

.news-box-container {
    width: 300px;
    font-size: 20px;
    max-height: 200px;
    justify-content: center;
    text-align: center;
    flex: 0;
}

.news-box-container img{
    display: block;
    max-width: 300px;
    max-height: 200px;
}

